.blogs-main {
    display: grid;
    

    .blogs-news-container {
        background-color: #e6e9ed;
        padding: 0 50px 40px;
    }
    .blogs-main-new {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;

        .blogs-news-img-container{
            grid-column: 1;

            img {
                width: 85%;
            }
        }
    }
    .blogs-news-info-container {
        grid-column: 2;

        p {
            margin-bottom: 35px;
        }
    }


}