.blogpost-img-container {
    padding: 0px 50px 40px;

    img {
        width: 100%;
    }
}
.blogpost-main-container {
    padding: 0px 50px 40px;

    h3 {
        padding-bottom: 20px;
        border-bottom: 1px solid #cdd2da;
    }
    h1 {
        font-size: 35px;
    }
}
.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;

    div {
        display: inline-block;
        width: 49.5%;
        height: 100%;
        
        img {
            width: 100px;
        }
        a {
            border-bottom: 1px solid #cdd2da;
            padding-bottom: 5px;


        .contact-left, .contact-right {
            text-align: center;
            margin-top: 85px;
        }

        }        
    }
}