* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #01011b;
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: white;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: #57b2e8;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .nav-logo-container img {
  width: 80px;
  margin-top: 3px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
header nav .profile-link a {
  font-family: "Poppins", sans-serif;
  padding: 4px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url(/src/assets/img/fondo_home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.home-main section .home-main-text {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}
.home-main .home-main-button {
  width: 140px;
  height: 50px;
  background: #57b2e8;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
}
.home-main .home-main-button a {
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.blogs-main {
  display: -ms-grid;
  display: grid;
}
.blogs-main .blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}
.blogs-main .blogs-main-new {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
  grid-template-rows: 2fr;
}
.blogs-main .blogs-main-new > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.blogs-main .blogs-main-new > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.blogs-main .blogs-main-new .blogs-news-img-container {
  -ms-grid-column: 1;
  grid-column: 1;
}
.blogs-main .blogs-main-new .blogs-news-img-container img {
  width: 85%;
}
.blogs-main .blogs-news-info-container {
  -ms-grid-column: 2;
  grid-column: 2;
}
.blogs-main .blogs-news-info-container p {
  margin-bottom: 35px;
}