* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #01011b;
}
header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
header .icons span {
  color: white;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  background-color: #57b2e8;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .nav-logo-container img {
  width: 80px;
  margin-top: 3px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
header nav .profile-link a {
  padding: 4px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
}

main {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  height: 100vh;
}
main h1 {
  color: white;
  position: absolute;
  margin: 10px auto;
}
main img {
  width: 100%;
  height: 100vh;
}