header
    section.header-icons-container
        div.icons
            a(href="/")
                span.fimanager.flaticon-001-facebook
            a(href="/")
                span.fimanager.flaticon-002-twitter
            a(href="/")
                span.fimanager.flaticon-011-instagram
            a(href="/")
                span.fimanager.flaticon-010-linkedin
            a(href="/")
                span.fimanager.flaticon-008-youtube
    nav 
        section.nav-logo-container 
            a(href="/")
                img(src="/src/assets/img/logo-lobo.png", alt="Logo blog")
        section.profile-link
             a(href="/src/html/perfil.html") Sobre mi