header
    section.header-icons-container
        div.icons
            a(href="") Facebook
            a(href="") Twitter
            a(href="") Instagram
            a(href="") LinkedIn
            a(href="") Youtube
    nav 
        section.nav-logo-container 
            a(href="/") Logo
        section.profile-link
             a(href="/src/html/perfil.html") Sobre mi