main.blogs-main 
    section.blogs-news-container 
        div.blogs-main-new| 
            h3 Soy un titulo 
            div.blogs-news-img-container
                img(src="/src/assets/img/blogs/img-persona-celular.jpg", alt="")
            div.blogs-news-info-container
                h2 Titulo del blogpost
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt debitis facilis illo cum earum asperiores magni ad sed placeat, quisquam doloremque culpa voluptatem eos fugit minus, saepe iure unde. Fugiat!
                a.blogs-button(href="") 
    section.blogs-posts-container  
        div 
            h3 
            article.post-container  
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
            article.post-container 
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
            article.post-container 
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
            article.post-container 
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
            article.post-container
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
            article.post-container
                img(src="/", alt="")
                p 
                p 
                a(href="/") 
    